<app-bread-crumb [items]="[{ text: 'Lançamentos', url: '/entries' }, { text: pageTitle }]"></app-bread-crumb>
<app-page-header [page-title]="pageTitle" router="/entries" class-button="btn float-right btn-light" title-button="voltar"></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">Informações sobre a Lançamento</div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <!-- type -->
      <div class="form-group col-md-2">
        <label for="type">Tipo</label>
        <select name="type" id="type" formControlName="type" class="form-control">
          <option *ngFor="let option of typeOptions" [value]="option.value">{{option.text}}</option>
        </select>

      </div>
      <!-- name -->
      <div class="form-group col-md-5">
        <label for="name">Lançamento</label>
        <input type="text" class="form-control" id="name" formControlName="name" />

        <app-form-field-error [form-control]="resourceForm.get('name')" ></app-form-field-error>

      </div>
      <!-- amount -->
      <div class="form-group col-md-3">
        <label for="amount">Valor</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">R$</div>
            <input [imask]="imaskConfig" type="text" class="form-control text-right" id="amount"
              formControlName="amount">
          </div>
        </div>
        
        <app-form-field-error [form-control]="resourceForm.get('amount')"></app-form-field-error>

      </div>

      <!-- date -->
      <div class="form-group col-md-2">
        <label for="date">Data</label>
        <p-calendar id="date" formControlName="date" inputStyleClass="form-control" dataType="string"
          dateFormat="dd/mm/yy" [locale]="pt" [showButtonBar]="true"></p-calendar>
      </div>
    </div>
    <div class="form-row">
      <!-- paid -->
      <div class="form-group col-md-2">
        <label for="paid">Pago</label>
        <div class="form-group">
          <label (click)="setPaid(true)" [class.active]="resourceForm.get('paid').value == true"
            class="btn btn-outline-info">Pago</label>
          <label (click)="setPaid(false)" [class.active]="resourceForm.get('paid').value == false"
            class="btn btn-outline-info">Pendente</label>
        </div>
      </div>
      <!-- categoryId -->
      <div class="form-group col-md-3">
        <label for="categoryId">Categoria</label>
        <select name="categoryId" id="categoryId" formControlName="categoryId" class="form-control">
          <option *ngFor="let category of categories" [value]="+category.id">{{ category.name }}</option>
        </select>

        <app-form-field-error [form-control]="resourceForm.get('categoryId')"></app-form-field-error>

      </div>
      <!-- description -->
      <div class="form-group col-md-7">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description" formControlName="description" />
      </div>
    </div>
  </div>


  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <ul *ngFor="let erro of serverErrorMessages">
      <li>{{ erro }}</li>
    </ul>
  </div>

  <button [disabled]="resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>
</form>

<!-- <pre>
  {{ resourceForm.value | json }}
</pre> -->