<app-bread-crumb [items] = "[{ text: 'Categoria', url : '/categories' }, { text: pageTitle }]"> </app-bread-crumb>
<app-page-header [page-title]="pageTitle" router="/categories" class-button="btn float-right btn-light" title-button="Voltar"></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">Informações sobre a categoria</div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" formControlName='name'>

        <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>

      </div>
      <div class="form-group col-md-8">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description" formControlName='description'>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <ul *ngFor="let erro of serverErrorMessages">
      <li> {{erro}} </li>
    </ul>
  </div>

  <button [disabled]="resourceForm.invalid" type="submit"
    class="btn btn-primary btn-lg float-right mt-3">Salvar</button>

</form>