<app-bread-crumb [items]= "[{text: 'Categorias'}]" ></app-bread-crumb>

<app-page-header page-title="Categoria" router="/categories/new" title-button="+ Nova Categoria" class-button="btn btn-success float-right"></app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categoria</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of listResource">
      <td>
        <strong>{{category.name}}</strong><br>
        <small>{{category.description}}</small>
      </td>
      <td class="text-center">
        <a [routerLink]='[category.id, "edit"]' class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <a (click)='delete(category)' class="btn btn-outline-danger btn-sm">Excluir</a>
      </td>
    </tr>
  </tbody>
</table> 
